/training_model/commit-model
/training_model/commit-model-0725
/training_model/commit-model-0729-1600-64
/training_model/commit-model-0730-512-512
/training_model/commit-model-ep3-ba2-l5e/
logs/
/.env
/__pycache__
/venv/
/training_model/wandb/
/training_model/__pycache__/*
/training_model/commit-model-ep3-ba2-le5e-10000dt/
